
 
<div class="row col-md-12 ">
 
  <div class="form-group col-md-10 offset-md-1 ">
    <label for="Sports">Sports</label>   
    <select type="text"   class="form-control" id="Sports" >
      <option>Cricket</option>
      <option>Football</option>
      <option>Rugby</option>
      <option>Tennis</option>
      
    </select>

  </div>

  <div class=" form-group col-md-10 offset-md-1 ">
    <label for="Tournament">Tournament</label>
    <select  class="form-control" id="Tournament">
      <option>IPL</option>
      <option>ICL</option>
      <option>PPL</option>
    </select>
  </div>

  <div class="form-group col-md-10 offset-md-1 ">
    <label for="Round">Round </label>
    <select   class="form-control" id="Round">
      <option>FIRST</option>
      <option>SECOND</option>
      <option>SEMI-FINAL</option>
      <option>FINAL</option>
    </select>
  </div>



  <div class=" form-group col-md-10 offset-md-1">
    <label for="Match">Match </label>
  <div class="row ">
    <div class="col-md-5 ">
        <label for="teamA">Team A </label>
    <select   class="form-control"  id="team1">
      <option>IND </option>
      <option> PAK</option>
      <option> NZL</option>
      <option> AUS</option>
      <option> ENG</option>
      <option> BAN</option>
    </select>
  </div>

  <div class="col-md-5 offset-md-2">
    <label for="teamB">Team B </label>
    <select   class="form-control " id="team2">
      <option>NZL </option>
      <option> PAK</option>
      <option> IND</option>
      <option> AUS</option>
      <option> ENG</option>
      <option> BAN</option>
    </select>
    </div>
    </div>
    </div>

  <div class="form-group col-md-10 offset-md-1">
    <button (click)="clicked()" class="btn btn-primary dropbtn pull-right "> Next Section <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </button>
  </div>

</div>


 <!--<div class="checkbox ">
    <ba-checkbox [(ngModel)]="isChecked" [label]="'Confirm Details'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
  </div>-->
  



