<div class="row">
<div class="col-md-8 offset-md-2">

  <div id="form-container">
  
      <div class="page-header text-center">
          <h1 style="color: white">Fill the Details</h1>
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          
          <div id="status-buttons" class="text-center">
              <a    class="current" (click)="gameclicked()"><span>1</span> Game</a>
              <a    (click)="brandclicked()"><span>2</span> Brand</a>
              <a    (click)="videoclicked()"><span>3</span> Video</a>      
          </div>


          
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>

 
  <div id="game">


                <div class="row col-md-12 ">
 
  <div class="form-group col-md-10 offset-md-1 ">
    <label for="Sports">Sports</label>   
    <select type="text"   class="form-control" id="Sports" >
      <option>Cricket</option>
      <option>Football</option>
      <option>Rugby</option>
      <option>Tennis</option>
      
    </select>

  </div>

  <div class=" form-group col-md-10 offset-md-1 ">
    <label for="Tournament">Tournament</label>
    <select  class="form-control" id="Tournament">
      <option>IPL</option>
      <option>ICL</option>
      <option>PPL</option>
    </select>
  </div>

  <div class="form-group col-md-10 offset-md-1 ">
    <label for="Round">Round </label>
    <select   class="form-control" id="Round">
      <option>FIRST</option>
      <option>SECOND</option>
      <option>SEMI-FINAL</option>
      <option>FINAL</option>
    </select>
  </div>



  <div class=" form-group col-md-10 offset-md-1">
    <label for="Match">Match </label>
  <div class="row ">
    <div class="col-md-5 ">
        <label for="teamA">Team A </label>
    <select   class="form-control"  id="team1">
      <option>IND </option>
      <option> PAK</option>
      <option> NZL</option>
      <option> AUS</option>
      <option> ENG</option>
      <option> BAN</option>
    </select>
  </div>

  <div class="col-md-5 offset-md-2">
    <label for="teamB">Team B </label>
    <select   class="form-control " id="team2">
      <option>NZL </option>
      <option> PAK</option>
      <option> IND</option>
      <option> AUS</option>
      <option> ENG</option>
      <option> BAN</option>
    </select>
    </div>
    </div>
    </div>

  <div class="form-group col-md-10 offset-md-1">
    <button (click)="brandclicked()" class="btn btn-primary dropbtn pull-right "> Next Section <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </button>
  </div>

</div>
    
  </div>



<div id="brand">
    
    <form *ngFor="let a of myForm.controls.addresses.controls; let index = index" class="row form-inline">
  <div class="panel-heading brandformtext" >
              <span>Logo {{index + 1}}</span>
              <span class="fa fa-close pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(index)"></span>
  </div>
 
  <div class="form-group col-sm-3">
    
    <input type="text" class="form-control" id="brand" placeholder="Brand">
  </div>
   <div  class="form-group col-sm-3">
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Asset">
  </div>
     <div  class="form-group col-sm-3">
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Tag Line">
  </div>
  <div  class="form-group col-sm-3">
    <input type="file" class="form-control" id="exampleInputEmail2" placeholder="pic">
  </div>
</form>

<div class="form-group brandformtext">
          <a (click)="addAddress()" style="cursor: default">Add another +</a>
</div>

<div class="form-group">
          <button (click)="gameclicked()" class="btn btn-primary pull-left " ><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous Section </button>
          <button (click)="videoclicked()" class="btn btn-primary pull-right " > Next Section <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </button>
</div>

<div class="clearfix"></div>
</div>







<div id="video">       
  <div class="container">
  <div [hidden]="submitted">

    
<div class="row col-md-12">                                                                                     
  <div class="form-group input-demo radio-demo row">
    <div class="col-md-4 offset-md-2">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked">
        <span>FTP</span>
      </label>
    </div>
    <div class="col-md-4 ">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <span>SFTP</span>
      </label>
    </div>
  </div>



 <div class="form-group col-md-6 offset-md-2">
      <label for="inputHost">Host</label>
      <input type="text" class="form-control" id="inputHost"  required   [(ngModel)]="inputHost" name="inputHost" #host="ngModel"  >
       <div [hidden]="host.valid || host.untouched" class="alert alert-danger"> Required </div>
</div>

<div class="form-group col-md-2 ">
      <label for="inputPort">Port</label>
      <input type="text" class="form-control" id="inputPort" required  [(ngModel)]="inputPort" name="inputPort" #port="ngModel">
       <div [hidden]="port.valid || port.untouched" class="alert alert-danger"> Required </div>
</div>


<div class="form-group col-md-8 offset-md-2">
      <label for="inputLogon">Logon Type</label>
      <input type="text" class="form-control" id="inputLogon" required [(ngModel)]="inputLogon" name="inputLogon" #logon="ngModel">
       <div [hidden]="logon.valid || logon.untouched" class="alert alert-danger"> Required </div>
</div>

  <div class="form-group col-md-8 offset-md-2">
    <label for="InputEmail">User ID</label>
    <input type="email" class="form-control" id="InputEmail" required [(ngModel)]="InputEmail" name="InputEmail" #user="ngModel">
         <div [hidden]="user.valid || user.untouched" class="alert alert-danger"> Required </div>
  </div>

  <div class="form-group col-md-8 offset-md-2">
    <label for="InputPassword">Password</label>
    <input type="password" class="form-control" id="InputPassword" required [(ngModel)]="InputPassword" name="InputPassword" #password="ngModel">
         <div [hidden]="password.valid || password.untouched" class="alert alert-danger"> Required </div>
  </div>

  <div class="form-group col-md-8 offset-md-2">
    <label for="Message">Message</label>
    <textarea  placeholder="Default Input" class="form-control" id="Message"></textarea>
  </div>
  
  <div class="form-group col-md-8 offset-md-2">
  <button (click)="brandclicked()" class="btn btn-primary pull-left  " > <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Previous Section </button>
  <button type="submit2" class="btn btn-danger pull-right ">Submit</button>
  </div>
  </div>

</div>
</div>   
  </div>





 <!--<div class="checkbox ">
    <ba-checkbox [(ngModel)]="isChecked" [label]="'Confirm Details'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
  </div>-->

    </form>

  </div>

   
  
  </div>




  
  
  <!-- show our formData as it is being typed -->
  <!--<pre>
    {{ formData }}
  </pre>-->

</div>
